@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family= Birthstone&family=Lexend:wght@100..900&family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Pacifico&display=swap');

.isa-page-div {
  background-image: url('https://i.ibb.co/M7ysvJC/depositphotos-96396216-stock-illustration-seamless-pattern-with-cherry-tree.webp');
}

.isa-body {
  width: 85vw;
  height: 100%;
  border: solid 2px #6d1845;
  margin: 0 auto;
  margin-top: 1%;
  background-color: black;
  margin-bottom: 1rem;
  padding-top: 2%;
  border-radius: 5px;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 60px) {
  .isa-page-div {
    background-size: 20%;
    background-image: url('https://i.ibb.co/M7ysvJC/depositphotos-96396216-stock-illustration-seamless-pattern-with-cherry-tree.webp');
  }
}
